<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Clients</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sticky-footer-navbar/">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body class="d-flex flex-column h-100">
    <header class="mb-5">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
            <a class="navbar-brand" href="/">Clients</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/list-companies">Companies List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-company">Add Company</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/list-clients">Clients list</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/add-client">Add client</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0 pt-5">
        <div class="container">
            {{{body}}}
        </div>
    </main>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
     <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="/js/common.js"></script>
    <script>
        tinymce.init({
        selector: '#comments'
      });
  </script>
  </body>
</html>